<app-navbar></app-navbar>
<div *ngIf="form.message!=null">{{form.message}}</div>
<table>
    <tr>
        <th>FirstName:</th>
        <td><input type="text" [(ngModel)]="form.firstName" name="firstName"></td>
    </tr>
    <tr>
        <th>LastName:</th>
        <td><input type="text" [(ngModel)]="form.lastName" name="lastName"></td>
    </tr>
    <tr>
        <th>LoginId:</th>
        <td><input type="text" [(ngModel)]="form.loginId" name="loginId"></td>
    </tr>
    <tr>
        <th>Password:</th>
        <td><input type="text" [(ngModel)]="form.password" name="password"></td>
    </tr>
    <tr>
        <th>DOB:</th>
        <td><input type="date" [(ngModel)]="form.dob" name="dob"></td>
    </tr>
    <tr>
        <th></th>
        <td><button (click)="signUp()">SignUp</button></td>
    </tr>
</table>
